services:
  relatorio-zabbix:
    image: ghcr.io/serviceticst/relatorio-api-zabbix:1.0.0
    container_name: relatorio-zabbix
    ports:
      - "8000:80"
    environment:
      # Login da aplicação
      APP_USER: "${APP_USER}"
      APP_PASS: "${APP_PASS}"

      # Zabbix
      ZABBIX_URL: "${ZABBIX_URL}"
      ZABBIX_TOKEN: "${ZABBIX_TOKEN}"
      ZABBIX_TIMEOUT: "${ZABBIX_TIMEOUT}"

      # Logs da aplicação (PHP)
      LOG_LEVEL: "${LOG_LEVEL}"          
      LOG_TO_STDOUT: "${LOG_TO_STDOUT}"     
      LOG_FILE: "${LOG_FILE}"

      # Logs do Nginx
      NGINX_ERROR_LOG_LEVEL: "${NGINX_ERROR_LOG_LEVEL}"
      NGINX_ACCESS_LOG: "${NGINX_ACCESS_LOG}"
      NGINX_ERROR_LOG: "${NGINX_ERROR_LOG}"

    volumes:
      - ./logs:/var/log/app
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost/healthz || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 5
